[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
jsonfield = "*"
numpy = "*"
pillow = "*"
face-recognition = "*"
opencv-python = "*"
scipy = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
